<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "home" or page.sim %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav aria-label="Primary navigation">
		{% for p in site.html_pages %}
			{% if p.layout != "home" and p.nav-menu == true %}
				<a href="{{ p.url | absolute_url }}"{% if page.url == p.url %} class="current"{% endif %}>{{ p.title }}</a>
			{% endif %}
		{% endfor %}
		<a href="#menu" class="menu-toggle" aria-label="Menu"><span></span></a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for p in site.pages %}
		    {% if p.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ p.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for p in site.html_pages %}
		    {% if p.layout != "home" and p.nav-menu == true %}
				<li><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
