<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="darkreader-lock">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#05070e" />
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}" />

	<!-- Social preview -->
	<meta property="og:site_name" content="{{ site.title }} — {{ site.subtitle }}" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}" />
	<meta property="og:type" content="website" />
	{% if page.image %}<meta property="og:image" content="{{ page.image | absolute_url }}" />{% endif %}
	<meta name="twitter:card" content="summary_large_image" />

	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />

	<!--Favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
