<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body{% if page.sim %} class="has-banner"{% endif %}>

    {% include header.html %}

    {% include banner.html %}

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          {% for post in site.posts %}
            {% if post.title != 404 %}
              <header class="major">
                <h1>{{ post.title }}</h1>
              </header>
              {% if post.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>{% endif %}
              {{ post.content }}
              <hr class="major" />
            {% endif %}
          {% endfor %}
        </div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
